* {
  font-family: Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Splitter */

#split-left {
  width: 15%;
  background-color: #eee;
  float: left;
  height: 100%;
  position: absolute;
}

#split-right {
  width: 45%;
  float: left;
  height: 100%;
  position: absolute;
}

#splitter {
  width: 10px;
  background-color: #777;
  float: left;
  height: 100%;
  position: absolute;
  cursor: w-resize;
}

/**/

.top-bar {
  margin-bottom: 5px;
  text-align: right;
  border-bottom: 2px gray solid;
}

.top-bar button {
  background: none;
  border: none;
  padding: 0;
  width: 16px;
  height: 16px;
}

#main-title {
  margin-top: 0;
}

.next-topic {
  font-style: italic;
  font-weight: bold;
}

.menu {
  font-style: italic;
  font-weight: bold;
}

.button {
  font-weight: bold;
}

.key-stroke {
  text-decoration: underline;
}